{
  "DirectoryURL": "<ACME_DIRECTORY_URL>",
  "ClientIdentifier": "<UNIQUE_PER_DEVICE_CLIENT_IDENTIFIER>",
  "KeySize": 384,
  "KeyType": "ECSECPrimeRandom",
  "HardwareBound": true,
  "Subject": [
    [
      [
        "O",
        "8bitshenanigans Homelab"
      ]
    ],
    [
      [
        "OU",
        "Immich Managed Devices"
      ]
    ],
    [
      [
        "CN",
        "<DEVICE_CERTIFICATE_COMMON_NAME>"
      ]
    ]
  ],
  "UsageFlags": 1,
  "ExtendedKeyUsage": [
    "1.3.6.1.5.5.7.3.2"
  ],
  "Attest": true
}
