{
  "Type": "com.apple.configuration.app.managed",
  "Identifier": "<APP_MANAGED_DECLARATION_UUID>",
  "ServerToken": "<APP_MANAGED_SERVER_TOKEN>",
  "Payload": {
    "ManifestURL": "<IMMICH_ENTERPRISE_MANIFEST_URL>",
    "InstallBehavior": {
      "Install": "Required"
    },
    "UpdateBehavior": {
      "AutomaticAppUpdates": "AlwaysOff"
    },
    "AppConfig": {
      "Identities": [
        {
          "Identifier": "immich.mtls.client-identity",
          "AssetReference": "<ACME_ASSET_DECLARATION_UUID>"
        }
      ]
    }
  }
}
